<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cruiseship</title>
</head>


<body>

    <form method="get" action="/new">
        <p><input type="submit" value="next video"></p>
    </form>

    <form action="/stoppoint" method="get">
        <div>
            <button>stop point</button>
        </div>
    </form>

    {{ .dataLink }}

    <meta http-equiv="refresh" content="10;URL=/new">
    <form action="/logout" method="post">
        <p>ユーザーID: {{.Username}}</p>
        <p><input type="submit" value="ログアウト"></p>
    </form>

</body>

</html>