<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{range .videoInfos}}
            <p>VideoID(動画のURL):{{.VideoID}}</p>
            <p>VideoName(動画の名前):{{.VideoName}}</p>
            <p>ViewCount(動画の視聴回数):{{.ViewCount}}</p>
            <p>CommentCount(動画のコメントの数):{{.CommentCount}}</p>
            <p>LikeCount(GOOD数):{{.LikeCount}}</p>
            <p>DislikeCount(BAD数):{{.DislikeCount}}</p>
            <br>
        {{end}}
</body>
</html>