<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/signup" method="get">
        <div>
            <button>signup</button>
        </div>
    </form>
    <form action="/login" method="get">
        <div>
            <button>login</button>
        </div>
    </form>
    <form action="/regvideo" method="post">
        <p>video URL :<input type="text" name="videoURL" placeholder="" /></p>
        <p><input type="submit" value="video登録" /></p>
    </form>
    <form action="/regchannel" method="post">
        <p>channel名 URL:<input type="text" name="channelURL" placeholder="" /></p>
        <p><input type="submit" value="channel登録" /></p>
    </form>
</body>

</html>